@charset "UTF-8";

:root {
  --main-color: #fff;
  --submain-color: #ddd;
  --asort-color: #333;
  --accent-color: #ff9933;
  --success-color: #adcc33;
  --error-color: #ff6f61;
  --font-color: #565656;
  --font-high: #fff;
  --my-color: #adcc33;
  --you-color: #ff9933;
}
* {
	-webkit-appearance: none;
}

html {
	font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	outline: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea {
	resize: none;
}

img {
	width: 100%;
	height: 100%;
}

/* main */
html {
    min-height: 100%;
	font-size: 16px;
    -webkit-text-size-adjust: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: var(--font-color);
	line-height: 1.3;
	word-wrap: break-word;
	font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	background-color: var(--main-color);
}

/********** pc-index **********/
#topWrapper {
	position: fixed;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	padding-top: 50px;
	text-align: center;
	overflow-y: auto;
}
#mainTitle {
	margin: 20px 0;
	font-family: 'Pacifico', cursive;
	color: var(--font-color);
	font-size: 3rem;
}

/* Login & Register */
.tabAreaWrapper {
	margin: 0 auto;
	max-width: 300px;
}
.tabArea {
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: var(--font-high);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin-bottom: 10px;
}
.tab_item {
	width: calc(100%/2);
	height: 50px;
	border-bottom: 3px solid var(--accent-color);
	background-color: #d9d9d9;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: var(--font-color);
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}
.tab_item:hover {
	opacity: 0.75;
	cursor: pointer;
}
input[name="tab_item"] {
	display: none;
}
.tabContentBox {
	display: none;
	padding: 40px 40px 0;
	clear: both;
	overflow: hidden;
}
#loginTab:checked ~ #loginArea,
#registerTab:checked ~ #registerArea {
	display: block;
}
.leftTab {
	border-radius: 20px 0 0 0;
}
.rightTab {
	border-radius: 0 20px 0 0;
}
.tabArea input:checked + .tab_item {
	background-color: var(--accent-color);
	color: var(--font-high);
}

/* Login & Register Inputs */
.label {
	margin: 10px 0 0 0;
	text-align: left;
	color: var(--font-color);
	font-weight: bold;
}
.input {
	width: 100%;
	height: 2rem;
	margin: 0;
	padding: 0;
	outline: none;
	box-shadow: none;
	border: none;
	background: none;
	border-bottom: solid 2px #d9d9d9;
	line-height: 2rem;
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.submit {
	width: 80%;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 20px;
	background: var(--accent-color);
	font-size: 16px;
	font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-weight: bold;
	color: var(--font-high);
	transition: all 0.2s ease;
}
.submit:hover {
	opacity: 0.75;
	cursor: pointer;
}

/* Flash Message */
.errorMsg,
.successMsg {
	animation-name: flashMsg;
	animation-duration: 5s;
	opacity: 0;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	width: 100%;
	padding: 10px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: var(--main-color);
}
.errorMsg {
	background: var(--error-color);
}
.successMsg {
	background: var(--success-color);
}
@keyframes flashMsg {
	0% { opacity: 0; }
	20% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}
/********** pc-indexここまで **********/


/********** pc-mypage **********/
#wrapper {
	display: grid;
	grid-template-columns: 50px 300px minmax(340px, 1fr);
	grid-template-rows: 100vh;
	overflow: hidden;
}
#menu {
	width: 50px;
	background: var(--asort-color);
	color:var(--font-high);
}
#menu ul {
	position: relative;
	height: 100%;
	width: 100%;
}
#menu ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 45px;
	text-align: center;
	line-height: 50px;
}
#menu ul li:hover {
	cursor: pointer;
	color: var(--accent-color);
}
#logout {
	position: absolute;
	bottom: 0;
}
.userImageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	float: left;
}
.userImageWrapper img {
	width: 60%;
	height: 60%;
	border-radius: 25px;
	background: var(--main-color);
}
.fas {
	vertical-align: middle;
	font-size: 24px;
}
.fa-rotate {
	transform: rotate(180deg);
} 

/* スクロールバーデザイン */
.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
	background-color: transparent !important;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
	width: 6px !important;
	background-color: #aaa !important;
}

#talkList {
	position: relative;
	width: 300px;
	background: var(--main-color);
	border-right: solid 1px #ccc;
	overflow: auto;
}
#talkList p {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 5px 0px;
	padding-left: 10px;
	background: var(--asort-color);
	color: var(--font-high);
	font-size: 0.9rem;
}
.talkRoom {
	background: var(--main-color);
	border-bottom: solid #ccc 1px;
	font-size: 0.9rem;
}
.talkRoom:not(.selectTalk):hover {
	cursor: pointer;
	opacity: 0.8;
	transition: .1s ease-in-out;
}
.talkRoom .userImageWrapper {
	height: 60px;
	width: 60px;
}
.talkRoom dl {
	display: flex;
	box-sizing: border-box;
	min-height: 60px;
	width: calc(100% - 60px);
	padding: 5px;
	flex-direction: column;
	justify-content: center;
}
.talkRoom dt,
.talkRoom dd {
	margin-bottom: 5px;
	border-radius: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.talkUser {
	font-size: 1rem;
	background: none !important;
	font-weight: bold;
}
.talkLatest {
	height: 0.7rem;
	font-size: 0.7rem;
	line-height: 0.7rem;
	background: none !important;
}
.selectTalk {
	background: var(--submain-color);
}

#messageArea {
	position: relative;
	overflow: hidden;
}
#messageHeader {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	background: var(--asort-color);
}
.headerItem {
	display: inline-block;
	height: 50px;
	max-width: 200px;
	margin: 0 50px;
	line-height: 50px;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--font-high);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.backButton {
	display: none;
}
.imageBorder {
	width: 50px;
	padding: 10px;
	border-radius: 25px;
	overflow: hidden;
}
.messageList {
	position: relative;
	display: none;
	height: calc(100% - 100px);
	padding: 10px;
	margin-top: 50px;
	box-sizing: border-box;
	overflow: auto;
}
.textLine {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
.textLine:after {
	display: block;
	content: "";
	clear: both;
}
.rightComment,
.leftComment {
	max-width:80%;
	padding: 0.5rem;
}
.rightComment {
	float: right;
	background: var(--my-color);
	border-radius: 10px 0 10px 10px;
}
.leftComment {
	float: left;
	background: var(--you-color);
	border-radius: 0 10px 10px 10px;
}
.topText {
	font-weight: bold;
	color: var(--font-high);
}
.underText {
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	border-left: solid 2px #275EAD;
	color: #eee;
}
.fa-sync-alt {
	color: var(--font-high);
}

#inputArea {
	position: absolute;
	bottom: 0 !important;
	width: 100%;
	height: 50px;
	min-height: 50px;
	text-align: center;
	vertical-align: middle;
	background: var(--asort-color);
	z-index: 90;
}
#inputItems {
	box-sizing: border-box;
	display: table;
	min-height: 50px;
	width: 100%;
	max-width: 900px;
	padding: 5px;
	margin: 0 auto;
	vertical-align: middle;
}
.inputItem {
	display: table-cell;
}
#msg_input {
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	height: 40px;
	max-height: 60px;
	padding: 5px 15px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	color: var(--font-color);
	line-height: 30px;
	font-weight: bold;
	overflow-y: auto;
}
#msg_input:focus {
	box-shadow: 0 0 5px var(--accent-color) inset;
	outline: none;
}
#submit,
#fileUpload {
	width: 50px;
	height: 40px;
	color: var(--accent-color);
	vertical-align: inherit;
}
#submit:hover,
#fileUpload:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* modalWindow */
#overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, .65);
}
#overlay:hover {
	cursor: pointer;
}
#modal {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	min-width: 300px;
	z-index: 99;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--font-high);
	text-align: center;
	font-weight: bold;
}
#modal:hover {
	cursor: default;
}
#modal p {
	margin: 20px;
	font-size: 1.2rem;
}
.active {
	display: block !important;
}
.modalButtonBox {
	text-align: center;
}
.modalButton {
	display: inline-block;
	min-width: 100px;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 20px;
	cursor: pointer;
	color: var(--font-high);
	font-size: 1.1rem;
	text-decoration: none;
	z-index: 999;
	transition: .1s ease-in-out;
}
.modalButton:hover {
	opacity: 0.8;
}
.yes {
	background: var(--success-color);
}
.cancel {
	background: var(--error-color);
}

/* 探索中アニメーション */
#seakAnimation,
.seakArea {
	display: none;
	position: absolute;
	min-width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
}
.seakArea {
	display: block;
}
#seakText {
	font-size: 1.3rem;
	margin-bottom: 20px;
}
.blinkAnimation {
	animation: 0.5s linear 0s alternate none infinite running blink;
}
@keyframes blink {
	0% { opacity: 0; }
	19.9% { opacity: 0; }
	20% { opacity: 1; }
	100% { opacity: 1; }
}
.fa-size {
	font-size: 5em;
}
.fa-spinner {
	color: var(--font-color);
	background: -webkit-linear-gradient(-60deg, var(--accent-color), var(--asort-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* notification */
.blinkOnce {
	animation-name: notification;
	animation-duration: 1s;
	animation-iteration-count: 5;
}
@keyframes notification {
	0% { background: inherit; }
	50% { background: var(--submain-color); }
	100% { background: inherit; }
}
.blinkInfinity {
	animation-name: notification;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
/********** pc-mypageここまで **********/

/************************** スマートフォン表示 *****************************/
@media only screen and (max-width: 767px) {

/********** sp-index **********/
#topWrapper {
	padding: 50px 0px 40px;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
#mainTitle {
	font-size: 2rem;
}

.tabAreaWrapper {
	max-width: 400px;
}
.tabArea {
	margin: 0 10px;
}
.input {
	line-height: 1.5rem;
	font-size: 1.2rem;
}

/********** sp-indexここまで **********/

/********** sp-mypage **********/
html,
body {
	height: 100%;
}

.fixfixed {
	position: fixed;
	overflow: hidden;
	bottom: 0;
	background: var(--asort-color);
}

#wrapper {
	display: block;
	grid-template-columns: none;
	grid-template-rows: none;
	width: 100%;
	height: 100%;
}

#menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
}
#menu ul li {
	width: 25%;
	float: left;
}
#menu ul li .userImageWrapper {
	float: none;
	margin: 0 auto;
}
#logout {
	position: relative;
}
.fa-rotate {
	transform: rotate(0);
}

#talkList {
	position:fixed;
	top: 0;
	width: 100%;
	height: calc(100% - 50px);
	border-right: none;
	-webkit-overflow-scrolling: touch;
}

#messageArea {
	position:fixed;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateX(100%);
	background: var(--main-color);
	transition: .2s ease-in-out;
}
.open {
	transform: translateX(0) !important;
}
.backButton {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 1rem;
	font-weight: bold;
	color: var(--font-high);
}
.backButton:hover {
	cursor: pointer;
}
.headerItem {
	font-size: 1.2rem;
}

.textLine {
	font-size: 1rem;
}
#msg_input {
	font-size: 1rem;
}

/********** sp-mypageここまで **********/

}
/************************** スマートフォン表示ここまで *****************************/