<!DOCTYPE html>
<html>
<head>
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/perfect-scrollbar.css">
	<link rel="stylesheet" href="/stylesheets/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
	<link rel="mask-icon" href="/images/icon/safari-pinned-tab.svg" color="#5bbad5">
	<script src="/javascripts/perfect-scrollbar.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

	<div id="wrapper">

		<!-- menu -->
		<div id ="menu">
			<ul>
				<li><div class="userImageWrapper"><img class="userImage" src="/images/<%= user.user_image %>" alt="anonymous"></div></li>
				<li><i class="fas fa-comment-dots"></i></li>
				<li id="newRequest"><i class="fas fa-user-plus"></i></li>
				<li id="logout"><i class="fas fa-sign-out-alt fa-rotate"></i></li>
			</ul>
		</div>
		<!-- //menu -->
	
		<!-- TalkList -->
		<div id="talkList">
			<% if (typeof rooms !== 'undefined'){ %>
				<p>相手待ちリスト</p>
				<ul id="requestList">
				<% rooms.forEach(function (value) { %>
					<% if(value.room_status == 0) { %>
						<% if(user.language_code == value.language_from){ %>
						<li class="talkRoom" name="talkRoom" data-room="<%= value.room_id %>" data-languagefrom="<%= value.language_to %>">
						<% }else{ %>
						<li class="talkRoom" name="talkRoom" data-room="<%= value.room_id %>" data-languagefrom="<%= value.language_from %>">
						<% } %>
						<div class="userImageWrapper"><i class="fas fa-user-circle"></i></div>
						<dl>
							<dt class="talkUser">待機中..<span class='blinkAnimation'>.</span></dt>
							<dd class="talkLatest">相手が見つかったら通知します</dd>
						</dl>
						</li>
					<% } %>
				<% }); %>
				</ul>
				<p>トークリスト</p>
				<ul id="joinList">
				<% rooms.forEach(function (value) { %>
					<% if(value.room_status == 1) { %>
						<% if(user.language_code == value.language_from){ %>
						<li class="talkRoom" name="talkRoom" data-room="<%= value.room_id %>" data-languagefrom="<%= value.language_to %>">
						<% }else{ %>
						<li class="talkRoom" name="talkRoom" data-room="<%= value.room_id %>"
						data-languagefrom="<%= value.language_from %>">
						<% } %>
						<div class="userImageWrapper"><i class="fas fa-user-circle"></i></div>
						<dl>
							<dt>&nbsp;</dt>
							<dd>&nbsp;</dd>
						</dl>
						</li>
					<% } %>
				<% }); %>
				</ul>
			<% } %>
		</div>
		<!-- //TalkList -->
	
		<!-- MessageArea -->
		<div id="messageArea">
			
			<div id="messageHeader">
				<div class="backButton">
					<i class="fas fa-chevron-left"></i>
				</div>
				<div class="headerItem">
					<i class="fas fa-user-circle"></i>
				</div>
			</div>
			<% if (typeof rooms !== 'undefined'){ %>
			<% rooms.forEach(function (value) { %>
			<div id="<%= value.room_id %>" class="messageList">
				<h2><%= value.room_id %></h2>
			</div>
			<% }); %>
			<% } %>
	
			<div id="inputArea">
				<div id="inputItems">
					<div id="fileUpload" class="inputItem"><i class="fas fa-image"></i></div>
					<textarea id="msg_input" class="inputItem" maxlength="200"></textarea>
					<input type="hidden" name="languageFrom" value="<%= user.language_code %>">
					<input type="hidden" name="languageTo" value="">
					<input type="hidden" id="roomId" value="">
					<div id="submit" class="inputItem" onclick="sendMessage();"><i class="fas fa-arrow-circle-right"></i></div>
				</div>
			</div>
		</div>
		<!-- //MessageList -->

		<!-- modalWindow -->
		<div id="overlay">
			<div id="modal"></div>
		</div>
		<!-- //modalWindow -->
	</div>


	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/client.js"></script>
	<script src="/javascripts/settings.js"></script>
</body>
</html>